* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "roboto";
    src: url(./../fonts/Roboto/Roboto-Black.ttf);
}

h1 {
    color: #659D89;
    font-size: 50px;
    font-style: normal;
    font-size: 50px;
    font-weight: 400;
    line-height: normal;
    padding-top: 60px;
}

.a-link:hover {
    color: #659D89;
    text-decoration: none;

}

header {
    border-bottom: 1px solid #CCC;
    background-color: aliceblue;
}   

div {
    width: 1440px;
    padding-bottom: 0px;
    padding-left: 50px;
    padding-top: 30px;
    background-color: aliceblue;


}

.section-1 p {
    font-size: 40px;
    padding-right: 30px;
    padding-bottom: 20px;
}

.soziale__medien {

}

h5 {
    padding-top: 60px;
    padding-bottom: 60px;
}

h3 {
    padding-bottom: 20px;
}


.section-2 p {
    padding-right: 30px;
    padding-bottom: 20px;
}


.gifs p {
padding-bottom: 40px;
}

.gifs {
    padding-bottom: 40px;
    border-bottom: 1px solid #CCC;
}
.artikel1 {
    padding-bottom: 100px;
    align-items: left;
}   



.artikel1 {
    text-align: left;
}   


.artikel2 {
    padding-bottom: 100px;
    align-items: center;
    text-align: center;
}

.artikel3 {
    padding-bottom: 100px;
    align-items: left;  
} 

.artikel4 {
    padding-bottom: 100px;
    align-items: center;
    text-align: center;

}   

footer {
    border-top:  1px solid #CCC;
    background-color: aliceblue;
    text-align: center;
}
